.Header {
    /* position: relative; */
    grid-area: A;
/*     width: 100%;
    height: 10vh; */
    background-color: rgba(62, 56, 56, 1);
    border-bottom: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Header_Name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 24px;
}

.Header_Search {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 13px;
    border-radius: 20px;
}

.Header_Container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    text-align: center;
    width: 80px;
    height: 46px;
    background-color: white;
    border: 3px solid white;
    border-radius: 40px;
}

.Header_Container:hover {
    border: 3px solid black;
}


.Header_Container_Link {
    text-decoration: none;
    color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 13px;
    border-bottom: 3px solid white;
}

.Header_Container_Link:hover {
    border-bottom: 3px solid red;
}