body {
    margin: 0;
}

.container {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-areas: 
    "A A A A  A A A A  A A A A  A A A A  A A A A  A A A A  A A A A  A A A A  A A A A"
    "B C C C  C C C C  C C C C  C C C C  C C C C  C C C C  C C C C  C C C C  C C C C"
    "B C C C  C C C C  C C C C  C C C C  C C C C  C C C C  C C C C  C C C C  C C C C"
    "B C C C  C C C C  C C C C  C C C C  C C C C  C C C C  C C C C  C C C C  C C C C"
    "B C C C  C C C C  C C C C  C C C C  C C C C  C C C C  C C C C  C C C C  C C C C"
    "B C C C  C C C C  C C C C  C C C C  C C C C  C C C C  C C C C  C C C C  C C C C"
    "B C C C  C C C C  C C C C  C C C C  C C C C  C C C C  C C C C  C C C C  C C C C"
    "B C C C  C C C C  C C C C  C C C C  C C C C  C C C C  C C C C  C C C C  C C C C"
    "B C C C  C C C C  C C C C  C C C C  C C C C  C C C C  C C C C  C C C C  C C C C"
    "B C C C  C C C C  C C C C  C C C C  C C C C  C C C C  C C C C  C C C C  C C C C"
    "B C C C  C C C C  C C C C  C C C C  C C C C  C C C C  C C C C  C C C C  C C C C"
    "B C C C  C C C C  C C C C  C C C C  C C C C  C C C C  C C C C  C C C C  C C C C"
    "B C C C  C C C C  C C C C  C C C C  C C C C  C C C C  C C C C  C C C C  C C C C"
    "B C C C  C C C C  C C C C  C C C C  C C C C  C C C C  C C C C  C C C C  C C C C";
}